/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;700&family=Fredericka+the+Great&family=Lora:ital,wght@0,400;0,500;1,500&display=swap');

/* Importing Main CSS File */
@import url("./components/main.css");

/* Defining Color Pallete */
:root{
    --primary: hsl(214, 35%, 37%);
    --primary-light: hsl(202, 46%, 68%);
    --primary-lighter: #e0fbfc;
    --accent: hsl(12, 83%, 62%);
    --background-dark: #1A202C;
    --background-night: hsl(210, 11%, 15%);
    --background-day: #e9ecef;
    --primary-font: #f8f9fa;
    --dark-font: #0a0908;
}

/* Resetting defaults */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cormorant', serif;
    min-height: 100vh;
    margin: 0 auto;
}

button,
input{
    font-family: inherit;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}

p::selection{
    background: var(--accent);
}

/* Landing Page Styling */

/* navabar: to be extracted as a component later */

.logo .heading-1{
    font-family: 'Fredericka the Great', cursive;
}

.hero{
    min-height: 75vh;
    justify-content: center;
}

.cta{
    margin-top: 3.5rem;
}

.cta-item{
    margin-right: 1rem;
}

/* CSS of Docs.html starts here */
.main{
    margin: 0 auto;
}  

.component{
    padding: 2rem;
}

.demo-container{
    padding: 2rem;
    border: 1px solid rgba(153, 152, 152, 0.562);
    border-radius: 0.3rem;
}