.header-container{
    width: 40rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow-y: auto;
}

.standard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--accent);
    color: var(--primary-font)
}

.fixed-header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--accent);
    color: var(--primary-font)
}

.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left > *{
    margin-right: 1rem;
}

.icon-right > *{
    margin-right: 1rem;
}

.sample-text{
    padding: 1rem;
}