/* Flex Boxes */
.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-vertical{
    display: flex;
    flex-direction: column;
}

/* Grids */
.col-2-grid{
    display: grid;
    grid-template-columns: 20% 1fr;
}

/* Body Width */
.w-100{
    max-width: 100%;
}

.w-90{
    max-width: 90%;
}

.w-80{
    max-width: 80%;
}

.w-75{
    max-width: 75%;
}

/* Body Height */
.h-100{
    min-height: 100vh;
}

/* Spacings */
.gap-sm-down{
    margin-bottom: 1rem;
}

.gap-md-down{
    margin-bottom: 2rem;
}

.gap-lg-down{
    margin-bottom: 3rem;
}
